@section styles {
    <link rel="stylesheet" href="~/css/Plant.css">
}
@{
    Layout = "_Layout";
}
<div class="row">
    <section class="section">
        <header>
            <h3>Register</h3>
            <h4>Please fill your information bellow</h4>
        </header>
        <main>
            <form>
                <div class="form-item box-item">
                    <input type="text" name="plantnum" placeholder="案場編號" data-required>
                    <small class="errorReq"><i class="fa fa-asterisk" aria-hidden="true"></i> required field</small>
                </div>
                <div class="form-item box-item">
                    <input type="text" name="plantname" placeholder="案場名稱" data-required>
                    <small class="errorReq"><i class="fa fa-asterisk" aria-hidden="true"></i> required field</small>
                    <small class="errorplantname"><i class="fa fa-asterisk" aria-hidden="true"></i> plantname is not valid</small>
                </div>
                <div class="form-item box-item">
                    <input type="text" name="plantip" placeholder="案場IP" data-required>
                    <small class="errorReq"><i class="fa fa-asterisk" aria-hidden="true"></i> required field</small>
                </div>
                <div class="form-item">
                    <span id="submit" class="submit">Submit</span>
                </div>
            </form>
        </main>
        <footer class="footer">
            <center><img src='/images/logo.png' /></center>
        </footer>
        <i class="wave"></i>
    </section>
</div>


<script>
    const url = location.search; //獲取url中"?"符號後的字串
    let theRequest = new Object();
    if (url.indexOf("?") != -1) {
        let str = url.substr(1);
        strs = str.split("&");
        for (let i = 0; i < strs.length; i++) {
            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
        }
    }

</script>