@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Changelog.css">
}

<div class="row align-items-start">
    <div class="col titlebox">
        <button class="toppage_bt" onclick="SearchCar()">
            <img class='toppage_icon' src='/images/toppage_icon.png' />
        </button>
        <div class="titlename">
            系統操作紀錄
        </div>
        @*<div class="parkname">
            昆陽廠
        </div>*@
    </div>
</div>

@*<div class="row logbox_title">
    <div class="col logtitlebox">
        <center>
            <span>
                修改車牌　使用功能　內容　異動時間
            </span>
        </center>
    </div>
</div>*@

<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr valign=top>
        <td align="center" colspan="2">
            <table class="maintable" width="100%" border="1" cellspacing="0" cellpadding="3" id="mtable">
                <tr>
                    <td class="colstd" align="center" width="130">
                        使用功能
                    </td>
                    <td class="colstd" align="center">
                        內容
                    </td>
                    <td class="colstd" align="center" width="80">
                        異動時間
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>新增車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
                <tr>
                    <td class="colstd">
                        車牌校正>修改車牌
                    </td>
                    <td class="colstd">
                        車道編號：001;車號：AWX-8888;票號：0008;入場時間：2022/05/12 08:17:19
                    </td>
                    <td class="colstd">
                        2022/06/07 14:27:59
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr class="pagestyle"><td align="left" colspan="2"></td></tr>
</table>

<div class="info_bar row" id="info_bar">
    <div class="add_img_box col">
        @*<a><img class="add_img" src='/images/add_icon.png' /></a>*@
        @*<button type="button" class="btn btn-link Fbt">最首頁</button>*@
        <button type="button" class="btn btn-link Lbt">上一頁</button>
        <a href="#">1</a>
        <button type="button" class="btn btn-link Nbt">下一頁</button>

    </div>
</div>

<script>

</script>
