@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Changelog.css">
}
@section Scripts{
    <script src="~/js/Changelog.js" asp-append-version="true"></script>
}
<div class="row align-items-start">
    <div class="col titlebox">
        <div class="titlename">
            系統操作紀錄
        </div>
    </div>
</div>
<div class="top_bar">
    <center>
        <div class="SearchMng row" id="search">
            <input id="SearchMng" name="SearchMng" placeholder="搜尋異動人員" />
            <input id="date" name="date" type="date" value="" placeholder="請輸入日期" style="width: 112px; height: 25px; background-color: black; border-radius: 5px;">
            <button onclick="SearchMng()">
                <img class='search_icon' src='/images/search_icon.png' />
            </button>
            <div class="spinner"></div>
        </div>
    </center>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="5" style=" margin-top: -10px;">
    <tr valign=top>
        <td align="center" colspan="2">
            <div id="tbtext">
                <table class="maintable" style="border: solid; " width="100%" border="1" cellspacing="0" cellpadding="3" id="mtable">
                </table>
            </div>
        </td>
    </tr>
    <tr class="pagestyle"><td align="left" colspan="2"></td></tr>
</table>

<div class="info_bar row" id="info_bar">
    <div class="add_img_box col" id="add_img_box">
        <button type="button" class="btn btn-link Lbt" value="-1" onclick='GetFile(this.value)'>上一頁</button>
        <a style="color:#FFF;">1</a>
        <button type="button" class="btn btn-link Nbt" value="1" onclick='GetFile(this.value)'>下一頁</button>
    </div>
</div>