@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/ParkingSpace.css">
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ParkingSpace.js" asp-append-version="true"></script>
}
<div class="row align-items-start" style="margin-top: 15px;">
    @*<div class="col titlebox">
    </div>*@
    @*<div class="titlename">
            系統車位修改
        </div>*@
    <p>系統車位修改</p>
</div>
<div id="setday" class="setday">

</div>
<div class="listbox" id="listbox">
    <div class="row listbox_ct" id="listbox_ct">
        <div class="pkdata" id="parkingName">

        </div>
        <div class="SevenSegment" id="SevenSegment">
            <span class="seven-segment" id="num0" data-number="0">
            </span>
            <span class="seven-segment" id="num1" data-number="0">
            </span>
            <span class="seven-segment" id="num2" data-number="0">
            </span>
            <span class="seven-segment" id="num3" data-number="0">
            </span>
        </div>
    </div>
</div>
<div class="carrow">
    @*<a class="btn" href="#">
            <img class="bticon" src="~/images/update_icon.png" />
        </a>*@
    <a href="javascript:void(0)" onclick="ResetData()" class="rounded-link circle">Reset</a>
</div>