@{
    Layout = "_WebLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home.css">
}
<table>
    <tr>
        <td> 
            <!-- container inner wrapper -->
            <table class="cards-list" cellpadding="0">
                <tr>
                    <td>
                        <div class="card 1">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/liveicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>現場狀況</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 2">
                            <a style='color: #fff;width: inherit;height: inherit;height: 100px;' href='javascript: void(0);' onclick='goChangelog()'>
                                <div class="card_image">
                                    <img class="bgimg" src="~/images/geometricicon.jpg" />
                                    <img class="bticon" src="~/images/recordicon.png" />
                                </div>
                            </a>
                            <div class="card_title title-white">
                                <p>操作紀錄</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card 3">
                            <a style='color: #fff;width: inherit;height: inherit;height: 100px;' href='javascript: void(0);' onclick='goParkingSpace()'>
                                <div class="card_image">
                                    <img class="bgimg" src="~/images/geometricicon.jpg" />
                                    <img class="bticon" src="~/images/ParkingSpace_icon.png" />
                                </div>
                            </a>
                            <div class="card_title title-white">
                                <p>車位修改</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 4">
                            <a style='color: #fff;width: inherit;height: inherit;height: 100px;' href='javascript: void(0);' onclick='goChangelog()'>
                                <div class="card_image">
                                    <img class="bgimg" src="~/images/geometricicon.jpg" />
                                    <img class="bticon" src="~/images/GateControl_icon.png" />
                                </div>
                            </a>
                            <div class="card_title title-white">
                                <p>機器控制</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card 5">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/messageicon2.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>收費機訊息</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 6">
                            <a style='color: #fff;width: inherit;height: inherit;height: 100px;' href='javascript: void(0);' onclick='gocorrection()'>
                                <div class="card_image">
                                    <img class="bgimg" src="~/images/geometricicon.jpg" />
                                    <img class="bticon" src="~/images/carnoicon.png" />
                                </div>
                            </a>
                            <div class="card_title title-white">
                                <p>車牌校正</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card 7">
                            <a style='color: #fff;width: inherit;height: inherit;height: 100px;' href='javascript: void(0);' onclick='goManualadd()'>
                                <div class="card_image">
                                    <img class="bgimg" src="~/images/geometricicon.jpg" />
                                    <img class="bticon" src="~/images/Addmanuallyicon.png" />
                                </div>
                            </a>
                            <div class="card_title title-white">
                                <p>手動更新</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 8">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/newsicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>最新消息</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <section class="portfolio-experiment" style="">
                            <a href='javascript: void(0);' onclick="backpage()">
                                <center>
                                    <span class="text">返回停車場列表</span>
                                </center>
                            </a>
                        </section>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
    const url = location.search; //獲取url中"?"符號後的字串
    let theRequest = new Object();
    if (url.indexOf("?") != -1) {
        let str = url.substr(1);
        strs = str.split("&");
        for (let i = 0; i < strs.length; i++) {
            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
        }
    }

    function gocorrection() {
            window.location = "/Correction/Index?parkingGuid=" + theRequest.parkingGuid;
        }

    function goManualadd() {
        window.location = "/Manualadd/Index?parkingGuid=" + theRequest.parkingGuid;
    }

    function goChangelog() {
        window.location = "/Changelog/Index?parkingGuid=" + theRequest.parkingGuid;
    }

    function goParkingSpace() {
        window.location = "/ParkingSpace/Index?parkingGuid=" + theRequest.parkingGuid;
    }

    

    function backpage() {
        window.location = "/ParkingList/Index";
    }
</script>






