@{
    Layout = "_WebLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ParkingList.css">
}

<script>
    window.onload = function () {
        let retrievedObject = new Array()
        retrievedObject = JSON.stringify(localStorage.getItem('PLdataObject'));
        alert(retrievedObject);
    };
</script>
<table>
    <!-- container -->
    <tr>
        <td>
            <table class="cards-list">
                <!-- PLtitle -->
                <tr>
                    <td colspan="2">
                        <section>
                            <a>
                                <center>
                                    <div class="companyname">
                                        企業
                                    </div>
                                    <br>
                                    <div id="clock" class="clock">
                                        <script type="text/javascript">
                                            setInterval("setClock()", 1000);//1秒更新一次
                                            function setClock() {
                                                var date = new Date();
                                                var today = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
                                                var timeNow = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                                                document.getElementById("clock").innerText = today + "   " + "星期"
                                                    + date.getDay() + "   " + timeNow;
                                            }
                                        </script>
                                    </div>
                                </center>
                            </a>
                        </section>
                    </td>
                </tr>
                @*@foreach(var item in retrievedObject)*@
                <tr>
                    <td>
                        <div class="card 1">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/liveicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>現場狀況</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 2">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/recordicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>操作紀錄</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card 3">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/messageicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>收費機訊息</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 4">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/carnoicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>車牌教正</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card 5">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/Addmanuallyicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>手動更新</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card 6">
                            <div class="card_image">
                                <img class="bgimg" src="~/images/geometricicon.jpg" />
                                <img class="bticon" src="~/images/newsicon.png" />
                            </div>
                            <div class="card_title title-white">
                                <p>最新消息</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="textop">
                        <section>
                            <a href="#0">
                                <center><div>停車場列表</div></center>
                            </a>
                        </section>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
