@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Manualadd.css">
}
@section Scripts{
    <script src="~/js/Manualadd.js" asp-append-version="true"></script>
}
<div class="login-box">
    <h2>新增車牌</h2>
    <form action="~/Login/Index" method="post" name="form1" id="form1" onsubmit="return checkdata()">
        <div class="user-box">
            <input type="text" required="" id="rid" name="rid">
            <label>車道編號</label>
        </div>
        <div class="user-box">
            <input type="text" required="" id="tickno" name="tickno">
            <label>票號</label>
        </div>
        <div class="user-box">
            <span style="color:#FFF">入場時間</span>
            <input type="datetime-local" step="01" id="approachtime" name="approachtime">
        </div>
        <div class="user-box">
            <input type="text" required="" id="platenum" name="platenum">
            <label>車牌號碼</label>
        </div>
        <div class="user-box">
            <input type="text" required="" id="tickclass" name="tickclass">
            <label>費率別</label>@*1汽車2機車*@
        </div>
        <center>
            <button type="button" class="chakra-button css-1phxkt1 chkbtn" onclick="javascript: return AddJsonData();">確認</button>
        </center>
    </form>
</div>