* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #315f94, #315f94,#141e30);
}

.btn-link {
    color: #0077ff;
    font-weight: bold;
}

input {
    background: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.content_box {
    width: 100%;
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
}

.PL_news {
    margin: 5px;
    cursor: pointer;
}

.page {
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_bar {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}

.add_img_box {
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    color: #FFF;
}

.add_img {
    height: 35px;
    width: 35px;
}

.Lbt {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    background: #1e279517;
}

.Nbt {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    background: #1e279517;
}

.carnum {
    padding: 10px;
}

span {
    color: #FFF;
}

.PL_image4, .PL_image3, .PL_image2, .PL_image1, .PL_image0 {
    display: block;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nocarnum {
    position: absolute;
    margin-top: -25px;
    width: 250px;
    font-size: 24px;
}

.modal-content {
    margin-top: 50%;
}

.Lbt_div {
    position: relative;
    display: inline-block;
}

.Nbt_div {
    position: relative;
    display: inline-block;
}

.backbt {
    display: flex;
    justify-content: center;
}

.PL_news_box {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bgimg {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 550px) {
    .bgimg {
        width: 300px;
        height: 170px;
    }
    .PL_news_box {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
    .content_box {
        font-size: 20px;
    }
}

@media screen and (min-width: 767px) {
    .content_box {
        font-size: 30px;
    }
}