* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #315f94, #315f94,#141e30);
}

.btn-link {
    color: #0077ff;
    font-weight: bold;
}

#search {
    align-items: center;
    background: #416996;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.5em 0.5em 1em;
    transition: all 0.5s;
    width: 340px;
    opacity: 0.6;
}

    #search:hover, #search:focus {
        background: #15569e;
    }

    #search button, #search input {
        appearance: none;
        background: transparent;
        border: 0;
        color: inherit;
        font: inherit;
        outline: 0;
    }

    #search button {
        cursor: pointer;
        padding: 0 0.25em;
    }

    #search input {
        color: #FFF;
        flex: 1;
    }

        #search input::placeholder {
            color: #fff;
        }

    #search .spinner {
        animation: spinner 1s infinite linear;
        display: none;
        padding: 0 0.25em;
    }

    #search.loading button {
        display: none;
    }

    #search.loading .spinner {
        display: block;
    }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search_icon {
    width: 30px;
    height: 30px;
}

input {
    background: none;
    outline: none;
    appearance: none;
   -moz-appearance: none;
    -webkit-appearance: none;
    　　
}

.content_box {
    width: 380px;
    padding: 5px;
    /*   transform: translate(-50%, -50%);*/
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.PL_time {
    position: absolute;
    left: 53%;
    color: #FFF;
    margin-top: -100px;
    margin-left: -10px;
}

.PL_news {
    margin: 5px;
}


.info_bar {
    /*    margin: 0px auto;*/
    width: 360px;
    margin-top:10px;
}

.add_img_box {
    padding: 4px;
    color: #FFF;
}

.add_img {
    height: 35px;
    width: 35px;
}

.Lbt {
    display: inline-block;
    margin-left: 95px;
    font-size: 18px;
}

.Nbt {
    display: inline-block;
    font-size: 18px;
}

/*.Fbt {
    display: inline-block;
    margin-left: 50px;
    font-size: 18px
}*/

.top_bar {
    width: 100%;
}

.SearchCar {
    margin: 0px auto;
}

.carnum {
    position: relative;
    display: inline-block;
    top: -95px;
    left: 130px;
}

span {
    color: #FFF;
    top: 68%;
}

.PL_image4, .PL_image3, .PL_image2, .PL_image1, .PL_image0 {
    display: block;
    margin: auto;
}

.nocarnum {
    position: absolute;
    margin-top: -25px;
    width: 250px;
    font-size: 24px;
}

.editbt {
    position: absolute;
    width: 350px;
    height: 120px;
    background-color: transparent;
    border-width: 0px;
}

.modal-content {
    margin-top: 50%;
}

.Lbt_div {
    position: relative;
    display: inline-block;
}

.Nbt_div {
    position: relative;
    display: inline-block;
}


@media screen and (max-width: 350px) {
    .PL_news_box {
        width: 125px;
        height: 95px;
    }
}

@media screen and (max-width: 766px) and (min-width: 351px) {
    .PL_news_box {
        width: 350px;
        height: 120px;
    }
}

@media screen and (min-width: 767px) {
    .PL_news_box {
        width: 100%;
        height: 167px;
/*        margin-left: 50px;*/
    }

    .editbt {

        height: 167px;
    }

    #search {
        width: 550px;
    }

    .PL_time {
        left: 71%;
        margin-top:-130px;
    }

    .PL_news_box img {
        margin-top: 40px;
    }

    .carnum {
        top: -95px;
        left: 150px;
        font-size: 25px;
    }

    .SearchCar {
        width: 750px;
    }
}
