html, body {
    height: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: -webkit-linear-gradient(left,#122c5c, #315f94, #315f94,#122c5c);
}

.cards-list {
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
    width: 380px;
    padding: 30px;
 /*   transform: translate(-50%, -50%);*/
    height: 400px;
    overflow: scroll
}

.card {
    margin: 30px auto;
    width: 110px;
    height: 100px; /*45*/
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    /*background-color: #325e8c;*/
    background: linear-gradient(#1c2d4d, #2b65a6);
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.9;
    /* 做出傾斜的視覺感 */
    border-width: 2px 3px 2px 5px;
/*    border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;*/
/*    transform: rotate(2deg);*/
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 25px;
}

.bgimg {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
}

.icicon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 50%;
    max-height: 50%;
    margin-top: -160px;
    margin-left: 30px;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: -40px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

/*BackButton*/
@media screen and (max-width:767px) {
    .portfolio-experiment {
        background-color: rgba(0, 0, 0, .6);
        width: 200px;
        border-radius: 30px;
        margin-left: 80px;
    }
}

@media screen and (min-width:767px) {
    .portfolio-experiment {
        background-color: rgba(0, 0, 0, .6);
        width: 230px;
        border-radius: 40px;
        margin-left: 65px;
    }
}

.portfolio-experiment .text {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    cursor: pointer;
    font-size: 1.2em;
    display: inline-block;
    letter-spacing: 0.07em;
    position: relative;
}

/*IndexBar*/
.navbar-text {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}
/*PLtitle*/
.PLtitle {
    color: #ffffff;
}

.clock {
    font-size: 15px;
    top: 50%;
    left: 50%;
    width: 360px;
    color: #ffffff;
    font-family: sans-serif;
}

.companyname {
    font-size: 25px;
    width: 360px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
}

.textop {
    width: 360px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: -30px;
}

.card_px {
    margin-top: -100px;
    height: 100px;
}

@media screen and (max-width:482px) {
    .clock {
        margin-top: -15px;
    }
    .cards-list {
        width: 360px;
    }
}
/*web*/
@media screen and (min-width:483px) {
    .clock {
        margin-top: -15px;
    }
}

/*parkinglist*/
.card_p{
    margin-top:-5px;
}