* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #315f94, #315f94,#141e30);
}

/*titlebox*/

.titlebox {
    width: 100vw;
    height: 50px;
    background: #88c4ff70;
    padding: 5px;
    font-size: 18px;
    opacity: 0.8;
}

.titlename {
    position: absolute;
    font-size: 35px;
    color: #FFF;
    width: 60%;
    height: 50px;
    left: 22%;
    line-height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*Titlerow*/
p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #315f94, #fff, #315f94);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}
/**/
.setday {
    font-family: monospace;
    font-size: 16px;
    opacity: 0.7;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    width: 100vw;
    height: 50px;
}

.pkdata {
    font-size: 35px;
    color: #FFF;
    width: 100vw;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.SevenSegment {
    font-size: 35px;
    color: #FFF;
    width: 100vw;
    height: 120px;
    left: 22%;
    line-height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.listbox_ct {
    max-width: 600px;
    background: rgb(0 0 0 / 22%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.carrow {
    font-size: 35px;
    color: #FFF;
    width: 100vw;
    height: 120px;
    left: 22%;
    line-height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/*7段顯示器*/
.seven-segment {
    display: inline-block;
    width: 70px;
    height: 100px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.seven-segment:before {
    content: "";
    width: 34px;
    height: 10px;
    display: block;
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: red;
}

.seven-segment:after {
    content: "";
    width: 10px;
    height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    left: -20px;
    background-color: red;
}

.seven-segment[data-number="0"]:before {
    box-shadow: 0 25px 0 red, 0 105px 0 red;
}

.seven-segment[data-number="0"]:after {
    box-shadow: 28px 0 red, 75px 0 0 red, 28px 35px red, 75px 35px 0 red;
}

.seven-segment[data-number="1"]:after {
    box-shadow: 75px 0 red, 75px 35px red;
}

.seven-segment[data-number="2"]:before,
.seven-segment[data-number="3"]:before,
.seven-segment[data-number="5"]:before,
.seven-segment[data-number="8"]:before,
.seven-segment[data-number="9"]:before {
    box-shadow: 0 25px 0 red, 0 65px 0 red, 0 105px 0 red;
}

.seven-segment[data-number="2"]:after {
    box-shadow: 75px 0 0 red, 25px 35px red;
}

.seven-segment[data-number="3"]:after {
    box-shadow: 75px 0 0 red, 75px 35px 0 red;
}

.seven-segment[data-number="4"]:before {
    box-shadow: 0 65px 0 red;
}

.seven-segment[data-number="4"]:after {
    box-shadow: 26px 0px red, 77px 0 0 red, 77px 37px 0 red;
}

.seven-segment[data-number="5"]:after {
    box-shadow: 23px 0 red, 78px 36px 0 red;
}

.seven-segment[data-number="6"]:before {
    box-shadow: 0 65px 0 red, 0px 26px 0 red, 0px 105px 0 red;
}

.seven-segment[data-number="6"]:after {
    box-shadow: 25px 0 red, 25px 36px red, 78px 37px 0 red;
}

.seven-segment[data-number="7"]:before {
    box-shadow: 0 25px 0 red;
}

.seven-segment[data-number="7"]:after {
    box-shadow: 75px 0 red, 75px 35px red;
}

.seven-segment[data-number="8"]:after {
    box-shadow: 25px 0 red, 75px 0 0 red, 25px 35px red, 75px 35px 0 red;
}

.seven-segment[data-number="9"]:after {
    box-shadow: 25px 0 red, 75px 0 red, 75px 35px 0 red;
}


a {
    text-decoration: none;
}

.btn {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    opacity: 0.9;
    margin-top: -60px;
}


.btn::before {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: black;
    opacity: 0;
    content: '';
    animation: pulse 1s infinite;
}

.btn:hover::before {
    animation: none;
    opacity: .4;
    transform: scale(1.3);
}

.btn.is-clicked {
    background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

.btn.is-clicked:before {
    animation: blastOut 1s;
}

.bticon {
    width: 100px;
    opacity: 0.8;
    margin-top: -5px;
}

.sbbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    font-size: 20px;
    color: white;
    background-color: #ab1d1d;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px;
}

.ecarnum {
    align-items: center;
    background: #13263a;
    border-radius: 10px;
    padding: 0.1em 0.1em 0.1em 1em;
    transition: all 0.5s;
    width: 180px;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: .4;
    }

    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes blastOut {
    from {
        transform: scale(0.9);
        opacity: .4;
    }

    to {
        transform: scale(10);
        opacity: 0;
    }
}

/*按鈕*/
.rounded-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 110px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.5s;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 42px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7), 0 0 5px white;
}

    .rounded-link::after {
        content: "";
        display: block;
        width: var(calc(var(300px) + var(20px)));
        height: var(calc(var(300px) + var(20px)));
        border-radius: 50%;
        position: absolute;
        top: var(calc(0px - var(20px) / 2);
        left: var(calc(0px - var(20px) / 2);
        box-shadow: -10px -10px 0 0 rgba(248, 12, 18, 0.3), -14.14px 0 0 0 rgba(254, 174, 45, 0.3), -10px 10px 0 0 rgba(208, 195, 16, 0.3), 0 14.14px 0 0 rgba(105, 208, 37, 0.3), 10px 10px 0 0 rgba(18, 189, 185, 0.3), 14.14px 0 0 0 rgba(68, 68, 221, 0.3), 10px -10px 0 0 rgba(59, 12, 189, 0.3), 0 -14.14px 0 0 rgba(189, 12, 27, 0.3);
        animation: rotate 5s linear infinite;
        transition: all 0.5s;
        opacity: 0.5;
    }

    .rounded-link:hover {
        font-size: 50px;
    }

        .rounded-link:hover::after {
            opacity: 1;
        }

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.circle {
/*    width: var(300px);
    height: var(300px);*/
    border-radius: 50%;
}