@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Login.css">
}
@section Scripts{
    <script src="~/js/Login.js" asp-append-version="true"></script>
}
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>
<div class="row logo">
    <div class="col-sm"><center><img src='/images/logo.png' /></center></div>
</div>
<div class="login-box">
    <h2>Login</h2>
    <form action="~/Login/Index" method="post" name="form1" id="form1" onsubmit="return checkdata()">
        <div class="user-box">
            <input type="text" required="" id="account" name="account" value="4455">
            <label>Account</label>
        </div>
        <div class="user-box">
            <input type="password" required="" id="password" name="password" value="6677">
            <label>Password</label>
        </div>
        <center>
            <a href='javascript: void(0);' onclick="checkdata()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
        </center>
    </form>
</div>