@{
    Layout = "_WebLayout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Login.css">
}
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>
<div class="container">
    <div class="row logo">
        <div class="col-sm"><center><img src='/images/logo.png' /></center></div>
    </div>
    <div class="login-box">
        <h2>Login</h2>
        <form action="~/Login/Index" method="post" name="form1" id="form1" onsubmit="return checkdata()">
            <div class="user-box">
                <input type="text" required="" id="account" name="account">
                <label>Account</label>
            </div>
            <div class="user-box">
                <input type="password" required="" id="password" name="password">
                <label>Password</label>
            </div>
            <center>
                <a href='javascript: void(0);' onclick="checkdata()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </a>
            </center>
        </form>
    </div>
</div>


<script>
    function checkdata() {
        var errmsg = "";
        if (document.form1.account.value == "") {
            errmsg = "請輸入帳號\n";
        }
        if (document.form1.password.value == "") {
            errmsg = errmsg + "請輸入密碼";
        }
        if (errmsg != "") {
            alert(errmsg)
            return false
        }
        else {
            var account = document.getElementById("account").value;
            var password = document.getElementById("password").value;
            $.ajax({
                type: 'POST',
                url: "/api/Authorize",
                data: { 'Account': account, 'Password': password },
                dataType: 'json',
                async: true,
                success: function (response) {
                    if (response.ErrMsg != null) {
                        alert(JSON.stringify(response.errMsg));
                    }
                    else {
                        localStorage.setItem('PLdataObject', JSON.stringify(response));
                        alert('登入成功!!');
                        window.location = "/ParkingList/Index";
                    }
                },
                error: function () {
                    alert('登入失敗!!');
                }
            });
        }
    }
</script>