@{
    Layout = "_WebLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Correction.css">
}


<div class="top_bar">
    <center>
        <div class="SearchCar row" id="search">
            <input id="SearchCar" name="SearchCar" placeholder="Search..." />
            <input id="date" type="date">
            <button onclick="SearchCar()">
                <img class='search_icon' src='/images/search_icon.png' />
            </button>
            <div class="spinner"></div>
        </div>
    </center>
    <div class="info_bar row" id="info_bar">
        <div class="add_img_box col">
            <a><img class="add_img" src='/images/add_icon.png' /></a>
            <div class="Lbt">
                <img class="Lpage" src='/images/Lpage_icon.png' />上一頁
            </div>
            <div class="Nbt">
                下一頁<img class="Npage" src='/images/Npage_icon.png' />
            </div>
        </div>
    </div>
</div>

<div class="content_box">
    <div class="PL_news">
        <div class="PL_news_box">
            <div id="PL_image0">
                <img width='125' height='90' src="https://fakeimg.pl/125x90/">
            </div>
            <div class="carnum" id="carnum0">
            </div>
            <div class="PL_info" id="PL_info0">
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image1">
                <img width='125' height='90' src="https://fakeimg.pl/125x90/">
            </span>
            <div class="carnum" id="carnum1">
            </div>
            <div class="PL_info" id="PL_info1">
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image2">
                <img width='125' height='90' src="https://fakeimg.pl/125x90/">
            </span>
            <div class="carnum" id="carnum2">
            </div>
            <div class="PL_info" id="PL_info2">
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image3">
                <img width='125' height='90' src="https://fakeimg.pl/125x90/">
            </span>
            <div class="carnum" id="carnum3">
            </div>
            <div class="PL_info" id="PL_info3">
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image4">
                <img width='125' height='90' src="https://fakeimg.pl/125x90/">
            </span>
            <div class="carnum" id="carnum4">
            </div>
            <div class="PL_info" id="PL_info4">
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        const url = location.search; //獲取url中"?"符號後的字串
        let theRequest = new Object();
        if (url.indexOf("?") != -1) {
            let str = url.substr(1);
            strs = str.split("&");
            for (let i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        let page = 1;
        let text,carnum,PL_info = "";
        $.ajax({
            type: 'GET',
            url: "/api/Data_SQL/FtpFile",
            data: { 'parkingGuid': theRequest.parkingGuid, 'page': page },
            dataType: 'json',
            async: true,
            success: function (response) {
                let code = JSON.stringify(response.code);
                let errmsg = JSON.stringify(response.errMsg)
                if (code == '"402"') {
                    alert(errmsg);
                }
                else {
                    for (let i = 0; i < response.data.length; i++) {

                        let pattern = /(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/;
                        let dateString = response.data[i].ymdhm;
                        let formatedDate = dateString.replace(pattern, '$1/$2/$3 $4:$5:$6');

                        if (response.data[i].jpg == "no such file") {
                            text = "<img src='https://fakeimg.pl/125x90/'>";
                            PL_info = "<time class='PL_time'>" + formatedDate + "</time>";
                        }
                        else {
                            text = "<img src='data:image/jpg;base64," + response.data[i].jpg + "'>";
                            PL_info = "<time class='PL_time'>" + formatedDate + "</time>";
                        }

                        if (response.data[i].tickno == "") {
                            carnum = "<span>無辨識車牌號</span>";
                        }
                        else {
                            carnum = "<span>車牌號：" + response.data[i].platenum + "<br>票號：" + response.data[i].tickno + "</span>";
                        }

                        $("#PL_image" + i).html(text);
                        $("#carnum" + i).html(carnum);
                        $("#PL_info" + i).html(PL_info);
                    }
                }
            },
            error: function () {

            }
        });
    };

    /*搜尋功能*/
    function SearchCar() {
        var SearchCar = document.getElementById("SearchCar").value;

        alert(SearchCar);
    }

</script>