@{
    Layout = "_WebLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Correction.css">
}
@section Scripts{
    <script src="~/js/Correction.js" asp-append-version="true"></script>
}

<div class="top_bar">
    <center>
        <div class="SearchCar row" id="search">
            <input id="SearchCar" name="SearchCar" placeholder="搜尋車號..." />
            <input id="date" name="date" type="date" value="" placeholder="請輸入日期" style="width: 112px; height: 25px; background-color: black; border-radius: 5px;">
            <button onclick="SearchCar()">
                <img class='search_icon' src='/images/search_icon.png' />
            </button>
            <div class="spinner"></div>
        </div>
    </center>
</div>

<div class="content_box">
    <div class="PL_news" id="PL_news4">
        <button type="button" id="editbt4" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal" onclick="javascript: return Editval(this.value);">
        </button>
        <div class="PL_news_box">
            <span id="PL_image4" class="PL_image4">
            </span>
            <div class="carnum" id="carnum4">
            </div>
            <div class="PL_info" id="PL_info4">
            </div>
        </div>
    </div>
    <div class="PL_news" id="PL_news3">
        <button type="button" id="editbt3" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal" onclick="javascript: return Editval(this.value);">
        </button>
        <div class="PL_news_box">
            <span id="PL_image3" class="PL_image3">
            </span>
            <div class="carnum" id="carnum3">
            </div>
            <div class="PL_info" id="PL_info3">
            </div>
        </div>
    </div>
    <div class="PL_news" id="PL_news2">
        <button type="button" id="editbt2" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal" onclick="javascript: return Editval(this.value);">
        </button>
        <div class="PL_news_box">
            <span id="PL_image2" class="PL_image2">
            </span>
            <div class="carnum" id="carnum2">
            </div>
            <div class="PL_info" id="PL_info2">
            </div>
        </div>
    </div>
    <div class="PL_news" id="PL_news1">
        <button type="button" id="editbt1" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal" onclick="javascript: return Editval(this.value);">
        </button>
        <div class="PL_news_box">
            <span id="PL_image1" class="PL_image1">
            </span>
            <div class="carnum" id="carnum1">
            </div>
            <div class="PL_info" id="PL_info1">
            </div>
        </div>
    </div>
    <div class="PL_news" id="PL_news0">
        <button type="button" id="editbt0" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal" onclick="javascript: return Editval(this.value);">
        </button>
        <div class="PL_news_box">
            <span id="PL_image0" class="PL_image0">
            </span>
            <div class="carnum" id="carnum0">
            </div>
            <div class="PL_info" id="PL_info0">
            </div>
        </div>
    </div>
</div>

<div class="info_bar row" id="info_bar">
    <div class="add_img_box col" id="add_img_box">
        <div class="Lbt_div" id="Lbt">
            <button type="button" class="btn btn-link Lbt" value="-1" onclick='GetFile(this.value)'>上一頁</button>
        </div>
        <a href="#">1</a>
        <div class="Nbt_div" id="Nbt">
            <button type="button" class="btn btn-link Nbt" value="1" onclick='GetFile(this.value)'>下一頁</button>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">✕</span></button>
            </div>
            <div class="modal-body">
                <form id="updateform">
                    <div class="form-group">
                        <label class="control-label">原車牌號碼：</label>
                        <input type="text" class="form-control" id="carnumber" name="carnumber" value="" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">修改車牌號碼：</label>
                        <input type="text" class="form-control" id="Ecarnumber" value="" name="Ecarnumber">
                    </div>
                    <div class="text-right">
                        <span id="returnMessage" class="glyphicon"> </span>
                        <button type="button" class="btn btn-default right" data-dismiss="modal">關閉</button>
                        <button id="submitBtn" type="button" class="btn btn-primary" onclick="javascript: return EditJsonData();">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Edit Modal -->