@{
    Layout = "_WebLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Correction.css">
}


<div class="top_bar">
    <center>
        <div class="SearchCar row" id="search">
            <input id="SearchCar" name="SearchCar" placeholder="Search..." />
            <input id="date" type="date">
            <button onclick="SearchCar()">
                <img class='search_icon' src='/images/search_icon.png' />
            </button>
            <div class="spinner"></div>
        </div>
    </center>
</div>

<div class="content_box">
    <div class="PL_news">
        <button type="button" class="btn btn-lg editbt" style="position: absolute;" data-toggle="modal" data-target="#myModal">
        </button>
        <div class="PL_news_box">
            <span id="PL_image0" class="PL_image0">
                <img width='125' height='120' src="https://img.ltn.com.tw/Upload/auto/page/2016/07/25/160725-5887-2-59yqO.png">
            </span>
            <div class="carnum" id="carnum0">
                <span>
                    車道編號：
                    <br>車牌號：ACV-8888
                    <br>票號：00005
                </span>
            </div>
            <div class="PL_info" id="PL_info0">
                <time class='PL_time'>2022/05/28 16:08:44</time>
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image1" class="PL_image1">
                <img width='125' height='120' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkkJTVu5tCzAOwsXj7vEjX9i3FkAk3pVcWl_WH0VNr7Qm2aFUo-_JbBFh9zNGbnZzhlmo&usqp=CAU">
            </span>
            <div class="carnum" id="carnum1">
                <span>
                    車道編號：
                    <br>車牌號：WM-8888
                    <br>票號：00004
                </span>
            </div>
            <div class="PL_info" id="PL_info1">
                <time class='PL_time'>2022/05/28 16:08:44</time>
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image2" class="PL_image2">
                <img width='125' height='120' src="https://p3.8891.com.tw/nc/newcar/article/2022/03/14/1647243469581559_900_600.jpg">
            </span>
            <div class="carnum" id="carnum2">
                <span>
                    車道編號：
                    <br>車牌號：BUL-4157
                    <br>票號：00003
                </span>
            </div>
            <div class="PL_info" id="PL_info2">
                <time class='PL_time'>2022/05/28 16:08:44</time>
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image3" class="PL_image3">
                <img width='125' height='120' src="http://pic.pimg.tw/celsior/1387088795-214420646.jpg">
            </span>
            <div class="carnum" id="carnum3">
                <span>
                    車道編號：
                    <br>車牌號：ASC-574
                    <br>票號：00002
                </span>
            </div>
            <div class="PL_info" id="PL_info3">
                <time class='PL_time'>2022/05/28 16:08:44</time>
            </div>
        </div>
    </div>
    <div class="PL_news">
        <div class="PL_news_box">
            <span id="PL_image4" class="PL_image4">
                <img width='125' height='120' src="https://i.imgur.com/uNh8l4B.jpg">
            </span>
            <div class="carnum" id="carnum4">
                @*<br><br><br>
                    <span class="nocarnum">無辨識車牌號</span>*@
                <span>
                    車道編號：
                    <br>車牌號：AUC-2567
                    <br>票號：00001
                </span>
            </div>
            <div class="PL_info" id="PL_info4">
                <time class='PL_time'>2022/05/22 09:10:12</time>
            </div>
        </div>
    </div>
</div>

<div class="info_bar row" id="info_bar">
    <div class="add_img_box col">
        @*<a><img class="add_img" src='/images/add_icon.png' /></a>*@
        @*<button type="button" class="btn btn-link Fbt">最首頁</button>*@
        <button type="button" class="btn btn-link Lbt">上一頁</button>
        <a href="#">1</a>
        <button type="button" class="btn btn-link Nbt">下一頁</button>

    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">✕</span></button>
                @*<h4 class="modal-title" id="myModalLabel">關閉</h4>*@
            </div>
            <div class="modal-body">
                <form id="updateform">
                    <input type="hidden" name="parkno" id="parkno" value="" />
                    <div class="form-group">
                        <label class="control-label">車道編號：</label>
                        <input type="text" class="form-control" id="Ecarparkname" name="Ecarparkname" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">車號：</label>
                        <input type="text" class="form-control" id="Ecarnumber" name="Ecarnumber" disabled>
                    </div>
                    <div class="form-group">
                        <label for="eventno" class="control-label">票號：</label>
                        <input type="text" class="form-control" id="eventno" name="eventno" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">入場時間:</label>
                        <input type="text" class="form-control" id="approachtime" name="approachtime" disabled>
                    </div>
                    <div class="text-right">
                        <span id="returnMessage" class="glyphicon"> </span>
                        <button type="button" class="btn btn-default right" data-dismiss="modal">關閉</button>
                        <button id="submitBtn" type="button" class="btn btn-primary" onclick="javascript: return EditJsonData();">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End of Edit Modal -->


<script>
    window.onload = function () {
        const url = location.search; //獲取url中"?"符號後的字串
        let theRequest = new Object();
        if (url.indexOf("?") != -1) {
            let str = url.substr(1);
            strs = str.split("&");
            for (let i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        //如果沒有頁數
        let page = 1;

        let text, carnum, PL_info = "";
        $.ajax({
            type: 'GET',
            url: "/api/Data_SQL/FTP_GetFile",
            data: { 'parkingGuid': theRequest.parkingGuid, 'page': page, 'searchTime': 0,'plateNum':0 },
            dataType: 'json',
            async: true,
            success: function (response) {
                let code = JSON.stringify(response.code);
                let errmsg = JSON.stringify(response.errMsg)
                if (code == '"402"') {
                    alert(errmsg);
                }
                else {
                    for (let i = 0; i < response.data.length; i++) {

                        let pattern = /(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/;
                        let dateString = response.data[i].ymdhm;
                        let formatedDate = dateString.replace(pattern, '$1/$2/$3 $4:$5:$6');

                        if (response.data[i].jpg == "no such file") {
                            text = "<img src='https://fakeimg.pl/125x90/'>";
                            PL_info = "<time class='PL_time'>" + formatedDate + "</time>";
                        }
                        else {
                            text = "<img src='data:image/jpg;base64," + response.data[i].jpg + "'>";
                            PL_info = "<time class='PL_time'>" + formatedDate + "</time>";
                        }

                        if (response.data[i].tickno == "") {
                            carnum = "<br><br><br><span class='nocarnum'>無辨識車牌號</span>";
                        }
                        else {
                            carnum = "<span>車牌號：" + response.data[i].platenum + "<br>票號：" + response.data[i].tickno + "</span>";
                        }

                        $("#PL_image" + i).html(text);
                        $("#carnum" + i).html(carnum);
                        $("#nocarnum" + i).html(carnum);
                        $("#PL_info" + i).html(PL_info);
                    }
                }
            },
            error: function () {

            }
        });
    };

    /*搜尋功能*/
    function SearchCar() {
        var SearchCar = document.getElementById("SearchCar").value;

        alert(SearchCar);
    }

</script>